
dist/
.solid
.output
.vercel
.netlify
netlify

.env
.env*.local
!.env.example

.vite/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.env
.env.local

_sort*

/node_modules

/.idea
.project
.classpath
*.launch
.settings/

.gitignore

.DS_Store
Thumbs.db
