
/* Override <A> Bold text */
.title { 
  font-size: 1.1rem;
  font-weight: normal; 
}

.app-container {
    border: 1px solid;
    width: 80vw;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.vh {
    clip-path: inset(100%) !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}

.flow {
    --flow-space: 1.5rem;
}

.flow * + * {
    margin-top: var(--flow-space);
}

.flex-horizontal {
    display: flex;
    justify-content: space-between;
}

.theme-wrapper  {
    padding: .5rem;
}

.vh {
    clip-path: inset(100%) !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }
  
  .skip-link {
      display: inline-block;
      padding: 0.5rem 1.5rem 0.6rem 1.5rem;
      background: #efd6da;
      border: 1px solid #cccccc;
      border-radius: 0.25rem;
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      z-index: 99;
      text-decoration: none;
    }
    
    .skip-link:not(:focus) {
      clip: rect(0 0 0 0);
      height: auto;
      margin: 0;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      white-space: nowrap;
    }
  
  /**
   * WRAPPER
   * Sets a max width, adds a consisten gutter and horizontally
   * centers the contents
   */
  
  
  .wrapper {
    max-width: 65rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .container {
      display: grid;
      place-items: center;
      margin-bottom: 6rem; /* wot */
  }
  
  .auto-grid {
    --min: 18rem;
  
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
  }
  
  .center {
    display: grid;
    place-items: center;
  }
  
  .flow {
    --flow: 1em;
  }

  .flow  > * + * {
    margin-top: var(--flow)
  }
  
.center-left {
  display: grid;
  justify-items: left;
}

/*
.card {
	position: relative;
	margin: 0.3em;
	padding: 0.5em;
	border: 1px solid #eee;
	border-radius: 4px;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.1); 
	min-height: 1em;
  
	@media screen and (min-width: 500px) {
		display: grid;
		grid-template-columns: max-content 1fr;
		grid-gap: 0.5rem 1.5rem;
	}
}*/