.nav {
    background-color: var(--color-background);
    border-right: 1px solid var(--color-greydivider);
    overflow-y: auto;
}

.filter {
	margin: .2rem;
}

.menu-container {
    border: none !important;
}

.card {
    max-width: 16ch;
}

.menu-container input {
    height: 2rem;
	font-size: inherit;
    background-color: var(--color-background);
    color: var(--color-text);
    border: 2px solid var(--color-text);
    border-radius: 4px;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.menu-container {
	margin-top: 0;
	min-height: 200px;
    height: 100vh;
}

.card {
	position: relative;
	margin: 0.3em;
	padding: 0.4em;
	border: 1px solid var(--color-greydivider);
	border-radius: 4px;
	/* box-shadow: 2px 2px 4px rgba(0,0,0,0.1); */
	min-height: 1em;
}

/*
.card::after {
	clear: both;
	display: block;
}*/


.nav a, header a {
	border-bottom: none !important;
}

.nav label {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 .5rem; /* hack : why work? */
    margin: 0 3rem;
}

:root {

    --ratio: 1.4;
    --s-5: clamp(0.33rem,0.39rem + -0.29vw,0.18rem);
    --s-3: clamp(0.51rem,0.57rem + -0.31vw,0.35rem);
    --s0: clamp(1rem,1rem + -0vw,1rem);
    --s1: clamp(0.8rem,0.84rem + -0.18vw,0.71rem);
    --s2: clamp(0.64rem,0.69rem + 0.85vw,2rem);
    
    --line-height: var(--ratio);
    --line-height-small: calc(0.8*var(--ratio));
}  

    * {
        font-size: inherit;
        font-family: inherit;
        margin: 0;
        padding: 0;
    }

    a {
        color: currentColor;
        font-weight: bold;
    }

    [data-opens-menu],
    [role='menu'] a {
        line-height: 1;
        text-align: left;
        border: 0;
        padding: 0.33rem 0.5rem;
        text-decoration: none;
    }

    [type='checkbox']:focus + [data-opens-menu],
    [role='menu'] a:focus {
        outline: none;
    }

    :checked + label .expanded-text {
        display: inline;
    }

    :checked + label .collapsed-text {
        display: none;
    }

    [type='checkbox']:not(:checked) + label .expanded-text {
        display: none;
    }

    [type='checkbox']:not(:checked) + label .collapsed-text {
        display: inline;
    }

    [role='menu'] {
        left: 0;
        display: none;
    }
    
    @media screen and (min-width: 1008px) {
        .nav {
            
            position: absolute;
           
            max-height: 100vh;
            
        }
        .menu-nav {
            display: block !important;
        }

        [data-opens-menu] {
            display: none !important;
        }

       /* .nav ul {
            list-style: none;
            margin-left: .1rem !important;
        }*/

        [role="menu"] {
            padding: 0;
        }
    } 

    :checked ~ [role='menu'] {
        display: block;
    }

    [role='menu'] a {
        display: block;
        /* min-width: 100%; */
        margin-top: 0.125rem;
        /* white-space: nowrap; */
    }

    

    /* Every Layout */

    .nav-toggle {
        font-size: var(--s1);
        margin-top: var(--s1);
        font-weight: 700;
        width: 100%;
        text-align: center;
        display: none;
    }

    .icon {
        width: .75em;
        height: .75em;
        stroke: currentColor;
        stroke-width: 4;
        fill: none;
        text-decoration-skip: objects;
    }
    
   /* .nav ul {
        list-style: none;
        margin-left: 3rem; 
    } */

   /* .nav li+li {
        margin-top: var(--s-2)
    }*/

    .nav *+*  {
        margin-top: var(--s-3)
    }

    .nav a {
        display: inline-block;
        line-height: 1;
        font-weight: 700;
        text-decoration: none;
        margin: .1rem auto;
        margin: 0;
        padding: 0;
        border-radius: 3px;
        max-width: 15ch;
    }

    .nav a:not([aria-current=true]):hover,
    .active {
        color: var(--color-string);
    }

    .icon path {
        transition: d .25s;
    }
