
    :checked + label .expanded-text {
        display: inline;
    }

    :checked + label .collapsed-text {
        display: none;
    }

    [type='checkbox']:not(:checked) + label .expanded-text {
        display: none;
    }

    [type='checkbox']:not(:checked) + label .collapsed-text {
        display: inline;
    }

    :checked ~ [role='menu'] {
        display: block;
    }
