@import 'components/Blockquote.css';
@import 'components/Code.css';
@import 'components/Emphasis.css';
@import 'components/Input.css';
@import 'components/Label.css';
@import './tokens.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@layer components {
    .container {
        @apply max-w-5xl mx-auto px-5  ...clamp(16rem, 90vw, 70rem);... 
    }
    .flex-y {
        @apply flex flex-col;
    }
    .grid-center-xy {
        @apply grid place-items-center;
    }
}

*/

/* fallback for this not working in production:
hover:after:content-extLinkIcon  this can go in A.css anyway */

main a[target="_blank"]:hover::after {
	content: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23bababa' d='M576 24v127.984c0 21.461-25.96 31.98-40.971 16.971l-35.707-35.709-243.523 243.523c-9.373 9.373-24.568 9.373-33.941 0l-22.627-22.627c-9.373-9.373-9.373-24.569 0-33.941L442.756 76.676l-35.703-35.705C391.982 25.9 402.656 0 424.024 0H552c13.255 0 24 10.745 24 24zM407.029 270.794l-16 16A23.999 23.999 0 0 0 384 303.765V448H64V128h264a24.003 24.003 0 0 0 16.97-7.029l16-16C376.089 89.851 365.381 64 344 64H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V287.764c0-21.382-25.852-32.09-40.971-16.97z'%3E%3C/path%3E%3C/svg%3E");
}

* {
    font-size: inherit;
    font-family: inherit;
    margin: 0;
    padding: 0;
}

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    text-size-adjust: none;
    /* font-size: 1.2rem; */
}

body {
    background-color: var(--color-body_background);
    background-size: 200%;
    color: var(--color-text);
    font-family: sans-serif;
    font-size: 1.2rem;
    font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-family: monospace;
    min-height: 100vh;
    line-height: 1.5;
    margin: 0; /* leave spacing to components */
    padding: 0;
    text-rendering: optimizeSpeed;
}

    .sidebar nav { 
        display: grid; 
        padding: 1rem 0 0 0; 
        justify-items: center; 
        
        @media screen and (min-width:1008px) { 
            padding-top: 0; 
            justify-items:left; 
            
        }
    }


main {
    /* not-sidebar */
    flex-basis: 0;
    flex-grow: 999;
    /* narrowest main content */
    min-inline-size: 78%;
    min-inline-size: 82%;
    height: 100%;
    overflow-y: scroll;
    height: 100vh;
    padding: 1em;
    margin: 0rem auto;
    background: var(--color-body_background);
    --flow-space: 1em;
    /* 2. Declare on a component */
    /* & > * + * { margin-top: var(--flow-space, 1em); }   fallback value based on font-size */
}

h2 {
    margin-left: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}

/* :has(h1, h2, h3) */
h1 {
    text-align: center;
    /* text-transform: uppercase; */
    font-family: monospace;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.1;
    margin: 1rem auto;
    max-width: 80ch;
}

main > * + * {
    margin-top: 1em;
}

ul {
    list-style: disc;
}

p {
    max-width: 80ch;
    margin: 1rem;
    line-height: 1.35;

    pre + & {
        margin-top: 2rem;
       
    }
   
}

a {
    color: currentColor;
  
    header & { 
        text-decoration: none; 
    }
    main & { 
        display: inline; margin-right: initial; text-decoration: underline; 
        font-weight: normal !important;
    }
    header & { 
        border-bottom: none; 
    }
   
    &:hover {
        color: var(--color-string-expression) !important;
    
    }
    &.active {
        color: var(--color-string-expression);
    }
}

ul {
    list-style-position: inside; 
   
    main & {
        margin-left: 1rem;
        margin-left: 2rem;
    }
}

li {
    ol & { 
        margin-top: 1em;
        counter-increment: numbers; 
    }
}


div {
    margin: 0;
    /* Code Blocks */
    &.language-id {
        text-align: right;
       
        color: var(--color-comment);
        display: inline-block;
        background-color: var(--color-background);
        border-radius: 5px 5px 0 0;
        padding: 0.5rem 1rem 0 1rem;
    }

    &.with-sidebar {
        display: flex;
        flex-wrap: wrap;
        
        margin-top: 0;
    }

/* nav { main &}*/
    &.sidebar { 
        flex-basis: 11.5rem; /*flex-basis: 1080px; */
        flex-grow: 1;
        margin-top: 0;
        border-right: 1px solid var(--theme-colors-greydivider);
    }
}

   
/* ================================ */
/*
        SORT ALL THIS
*/

    .icon {
        width: .75em;
        height: .75em;
        stroke: currentColor;
        stroke-width: 4;
        fill: none;
        text-decoration-skip: objects;
    }
    
    .nav a:not([aria-current=true]):hover,
    .active {
        color: var(--color-string_expression);
    }


    .icon path {
        transition: d .25s;
    }

/* Override <A> Bold text */
.title { 
    font-size: 1.1rem;
    font-weight: normal; 
  }
  
  .app-container {
      border: 1px solid;
      width: 80vw;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }
  
  .vh {
      clip-path: inset(100%) !important;
      clip: rect(1px, 1px, 1px, 1px) !important;
      height: 1px !important;
      overflow: hidden !important;
      position: absolute !important;
      white-space: nowrap !important;
      width: 1px !important;
  }
  
  .flow {
      --flow-space: 1.5rem;
  }
  
  .flow * + * {
      margin-top: var(--flow-space);
  }
  
  .flex-horizontal {
      display: flex;
      justify-content: space-between;
  }
  
  .theme-wrapper  {
      padding: .5rem;
  }
  
    .skip-link {
        display: inline-block;
        padding: 0.5rem 1.5rem 0.6rem 1.5rem;
        background: #efd6da;
        border: 1px solid #cccccc;
        border-radius: 0.25rem;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        z-index: 99;
        text-decoration: none;
      }
      
      .skip-link:not(:focus) {
        clip: rect(0 0 0 0);
        height: auto;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap;
      }
    
    /**
     * WRAPPER
     * Sets a max width, adds a consisten gutter and horizontally
     * centers the contents
     */
    
    
    .wrapper {
      max-width: 65rem;
      margin-left: auto;
      margin-right: auto;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  
    .container {
        display: grid;
        place-items: center;
        margin-bottom: 6rem; /* wot */
    }
    
    .auto-grid {
      --min: 18rem;
    
      display: grid;
      gap: 0.5rem;
      grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
    }
    
    .center {
      display: grid;
      place-items: center;
    }
    
    .flow {
      --flow: 1em;
    }
  
    .flow  > * + * {
      margin-top: var(--flow)
    }
    
  .center-left {
    display: grid;
    justify-items: left;
  }
  
  /*
  .card {
      position: relative;
      margin: 0.3em;
      padding: 0.5em;
      border: 1px solid #eee;
      border-radius: 4px;
      box-shadow: 2px 2px 4px rgba(0,0,0,0.1); 
      min-height: 1em;
    
      @media screen and (min-width: 500px) {
          display: grid;
          grid-template-columns: max-content 1fr;
          grid-gap: 0.5rem 1.5rem;
      }
  }*/

/* go to utils */


hr {
    border: 1px solid var(--color-greydivider);
}

/* SORT */

:root {

    --ratio: 1.4;
    --s-5: clamp(0.33rem,0.39rem + -0.29vw,0.18rem);
    --s-3: clamp(0.51rem,0.57rem + -0.31vw,0.35rem);
    --s0: clamp(1rem,1rem + -0vw,1rem);
    --s1: clamp(0.8rem,0.84rem + -0.18vw,0.71rem);
    --s2: clamp(0.64rem,0.69rem + 0.85vw,2rem);
    
    --line-height: var(--ratio);
    --line-height-small: calc(0.8*var(--ratio));
}  

    * {
        font-size: inherit;
        font-family: inherit;
        margin: 0;
        padding: 0;
    }

    a {
        color: currentColor;
        font-weight: bold;
    }

   

    .icon {
        width: .75em;
        height: .75em;
        stroke: currentColor;
        stroke-width: 4;
        fill: none;
        text-decoration-skip: objects;
    }
    
   /* .nav ul {
        list-style: none;
        margin-left: 3rem; 
    } */

   /* .nav li+li {
        margin-top: var(--s-2)
    }*/

  

    .icon path {
        transition: d .25s;
    }



   
      
      /*
      code {
        counter-reset: step;
        counter-increment: step 0;
      }
      */
      
      /*
      .shiki {
        border-radius: var(--spacing-1);
        padding: var(--spacing-6) var(--spacing-4);
        margin: var(--spacing-4) auto var(--spacing-18);
        box-shadow: var(--shadow-elevation-medium);
        overflow-x: auto;
        max-width: var(--max-width-full);
      }*/
      
     /* .highlight-line {
        display: inline-block;
        background-color: var(--colour-code-background-highlighted);
        width: calc(var(--max-width-full) + var(--spacing-4));
        border-left: var(--spacing-1) solid var(--colour-code-line-highlight);
        margin-left: calc(-1 * var(--spacing-1));
      }

      */
     
      
      /*
      code .line::before {
        display: inline-block;
        content: counter(step);
        counter-increment: step;
        width: var(--spacing-6);
        margin-right: var(--spacing-6);
        text-align: right;
        font-variant-numeric: tabular-nums;
        color: var(--colour-line-numbers);
      }*/